* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.wrapper {
  width: 100%;
  padding: 0 72px;
  margin: auto;
}

.main-nav {
  background-color: #0F0E17;
  padding: 35px 72px;
  list-style: none;
}

.main-nav__item {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  margin: 0 25px;
}

.main-nav__item a {
  color: white;
  text-decoration: none;
}

.main-nav__item a:hover {
  color:#f3ab67;
}

.main-nav .download-button {
  float: right;
}

.main-nav .download-button button {
  color: white;
  background: #FF8906;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.hero {
  background: #0F0E17;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px;
}

.hero-presentation h1 {
  font-size: 64px;
  line-height: 80px;
}

.hero-presentation h1:hover {
  color: #EA5455;
}

.hero-presentation h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  width: 90%;
  margin-top: 20px;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.proyectos-container {
  background: white;
  width: 100%;
  padding: 0 72px;
  margin: auto;
}

.proyectos-description {
  display: flex;
  align-items: flex-start;
  margin-bottom: 76px;
  justify-content: center;
}

.proyectos {
  padding: 80px 0;
  margin: auto;
}

.proyectos-description h2{
  width: 100%;
  margin-right: 104px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin: 0 104px 0 0;
}

.proyectos-description p {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.niko-contents {
  background-image: url("../images/1.png");
  height: 540px;
  background-repeat: no-repeat;
  margin: auto;
}

.niko {
  width: 55%;
  color: white;
  background: #0F0E17;
  position: relative;
  top: 80px;
  right: 25px;
  padding: 64px 24px 24px 24px;
}

.niko h3 {
  font-size: 24px;
  line-height: 32px;
}

.niko p {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #A7A9BE;
  width: 100%;
}


.niko-btn1 {
  color: white;
  background: #FF8906;
  padding: 12px 24px;
  outline: none;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}

.niko-btn2 {
  color: #FF8906;
  border: 1px solid #FF8906;
  background: none;
  padding: 12px 24px;
  outline: none;
  cursor: pointer;
  margin-top: 80px;
}

.prince-amazon {
  display: flex;
  gap: 45px;
  margin: 56px auto 0;
}

.prince {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  height: 470px;
  width: 50%;
}

.amazon {
  background-image: url("../images/2.png");
  background-repeat: no-repeat;
  height: 470px;
  width: 50%;
}

.prince-contents{
  width: 95%;
  height: 316px;
  background: #0F0E17;
  color: white;
  padding: 64px 24px 24px 24px;
  position: relative;
  top: 85px;
  right: 25px;
}

.prince-contents h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.prince-contents p {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #A7A9BE;
}

.amazonas-contents {
  width: 95%;
  background: #0F0E17;
  height: 316px;
  color: white;
  padding: 64px 24px 24px 24px;
  position: relative;
  top: 85px;
  right: 25px;
}

.amazonas-contents h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.amazonas-contents p {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #A7A9BE;
}

.ver-proyectos {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  margin: 56px auto   auto;
  padding: 8px 40px;
}

.ver-proyectos p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.services {
  background: linear-gradient(to right, #FEB692 , #EA5455 );
  width: 100%;
  padding: 80px 72px;
  margin: auto;
}

.services-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services-title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}

.services-contents h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 48px;
}

.services-contents p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin: 24px 0;
  cursor: pointer;
}

.services-button {
  display: flex;
  align-items: center;
  background: black;
  border: none;
  outline: none;
  cursor: pointer;
  color: #FF8906;
  padding: 0px 24px;
  gap: 10px;
}

.services-button p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.testimonials-container {
  background: #0F0E17;
  width: 100%;
  padding: 80px 72px;
  margin: auto;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.name-testimonio {
  color: #F25F4C;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.image-contents {
  display: flex;
  gap: 10px;
  align-items: center;
}

.text {
  color: white;
  font-size: 24px;
  line-height: 40px;
}

.testimonio {
  height: 265px;
  padding: 0 12px;
}

.testimonio.section {
  margin-bottom: 48px;
}

.image img{
  margin-top: 80px;
  width: 100%;
}

.contacto-container {
  background: linear-gradient(to right, #FEb692,#EA5455);
  padding: 80px 0;
}

.contacto {
  width: 44%;
  margin: auto;
  padding: 48px ;
  background: #0F0E17;

}

.contacto h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color:  #FFFFFE;
}

.contacto p {
  font-size: 20px;
  line-height: 32px;
  margin: 16px 0;
  width: 90%;
  color: #A7A9BE;
}

.contacto input{
  width: 100%;
  border: none;
  outline: none;
  height: 64px;
  margin: 16px 0;
  cursor: pointer;
  padding: 0px 17px;
  border-radius: 3px;
}


.button-contacto {
  background: #FF8906;
  color: white;
  border-radius: 3px;
}

.footer-icon {
  display: flex;
  gap: 24px;
}

.footer {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}

.footer-container {
  background: #0F0E17;
  height: 145px;
  padding: 48px 72px;
  width: 100%;
  margin: auto;
}

.p-footer {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  line-height: 32px;
}

.p-footer img {
  width: 22px;
  position: relative;
  top: 4px;
}

@media (max-width: 480px) {
  .main-nav {
    padding: 18px 10px;
  }
  .main-nav__item {
    font-size: 15px;
    margin: 0 4px;
  }
  .main-nav .download-button button {
    padding: 5px 10px;
    font-size: 13px;
  }
  .hero {
    display: flex;
    padding: 20px;
    width: 100%;
  }
  .hero h1 {
    font-size: 22px;
    line-height: 28px;
  }
  .hero h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .hero-presentation {
    width: 60%;
  }
  .hero-presentation img {
    margin-top: 20px;
  }
  .hero-image {
    width: 40%;
  }
  .hero-image img {
    width: 100%;
  }
  .proyectos {
    padding: 15px;
  }
  .proyectos-description {
    margin-bottom: 40px;
  }
  .proyectos-description h2 {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
    margin-right: 10px;
  }
  .proyectos-description p {
    width: 100%;
    font-size: 11px;
    line-height: 15px;
  }
  .proyectos-container {
    background: white;
    width: 100%;
    padding: 0px 20px;
  }
  .niko {
    width: 55%;
    top: 20px;
    right: 20px;
    padding: 12px;
  }
  .niko p {
    font-size: 13px;
    line-height: 17px;
  }
  .niko-contents {
    height: 200px;
    background-repeat: round;
  }
  .niko h3 {
    font-size: 15px;
    line-height: 15px;
  }
  .niko-btn1 {
    padding: 4px;
    margin-top: 10px;
    margin-right: 0px;
  }
  .niko-btn2 {
    padding: 5px;
    margin-top: 5px;
  }
  .prince-contents h3 {
    font-size: 15px;
    line-height: 15px;
  }
  .prince-contents p {
    font-size: 15px;
    line-height: 20px;
  }
  .prince-contents {
    width: 55%;
    top: 20px;
    right: 20px;
    padding: 12px;
  }
  .prince {
    height: 300px;
  }
  .amazonas-contents h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .amazonas-contents p {
    font-size: 15px;
    line-height: 20px;
  }
  .amazonas-contents {
    height: 250px;
    padding: 15px;
    top: 30px;
  }
  .amazon {
    height: 300px;
  }
  .ver-proyectos {
    gap: 5px;
    margin: 20px auto auto;
    padding: 5px 10px;
  }
  .services {
    padding: 15px;
  }
  .services-title {
    font-size: 25px;
    line-height: 20px;
  }
  .services-contents h3 {
    font-size: 20px;
    line-height: 15px;
    margin-top: 20px;
    margin-block: 20px;
  }
  .services-button {
    padding: 0px 0px;
    gap: 3px;
  }
  .services-contents p {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0px;
  }
  .testimonials-container {
    padding: 10px;
  }
  .name-testimonio {
    font-size: 15px;
    line-height: 15px;
  }
  .text {
    font-size: 14px;
    line-height: 20px;
  }
  .testimonio {
    height: 240px;
    padding: 0 12px;
  }
  .testimonio.section {
    margin-bottom: 5px;
  }
  .image img {
    margin-top: 0px;
  }
  .contacto {
    width: 70%;
    padding: 30px;
  }
  .contacto h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .contacto p {
    font-size: 20px;
    line-height: 25px;
    margin: 15px 0;
    width: 100%;
  }
  .contacto-container {
    padding: 40px 0;
  }
  .footer-container {
    height: 50px;
    padding: 10px;
  }
  .p-footer {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 8px;
    line-height: 0px;
  }
  .p-footer img {
    width: 15px;
    position: relative;
    top: 0px;
  }
  .footer-icon {
    display: flex;
    gap: 10px;
  }
}